@import url('https://fonts.googleapis.com/css?family=Cookie');

.navbar{
  margin-bottom: 0px!important;
  background-color: #032149!important;
  z-index: 2;
}

.logo{
  font-family: 'Cookie', cursive;
  font-size: 3em!important;
  color: white!important;
}

.link{
  color: #e5e5e5!important;
  font-size: 1.2em;;
}

.header{
  font-size: 0.9em;
  text-decoration: none!important;
}

.link:hover{
  color:	#e5e5e5!important;
  text-decoration: underline;
}

.link:active{
  color:	#e5e5e5!important;
}

.link:focus{
  color:	#e5e5e5!important;
}
