.contact-header{
  background-color: #e5e5e5!important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px!important;
  text-align: center;
  color: #042c62!important;
  padding-bottom: 0px!important;
}

.map{
  border: solid 0.25em #042c62;
  width: 100%;
  height: 400px;
}

.contact-body{
  background-color: #e5e5e5!important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px!important;
  text-align: center;
  color: #042c62!important;
  padding-bottom: 0px!important;
}
