.manage-header{
  background-color: #e5e5e5!important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px!important;
  text-align: center;
  color: #042c62!important;
  padding-bottom: 0px!important;
}

.m-list{
  font-size: 25px;
}

.rent-link{
  border: 0.1em solid #042c62;
  border-radius: 5%;
  font-size: 2em;
  padding: 10px;
  background-color: white;
}

.rent-link:hover{
  text-decoration: none;
}

.manage-body{
  background-color: #e5e5e5!important;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px!important;
  text-align: left;
  color: #042c62!important;
  padding-bottom: 0px!important;
}
